<section class="container">

  @for( clase of classes; track clase.id) {
    <div class="class-card">
      <img [src]="clase.photo" [alt]="clase.name" />
      <div class="class-name yoga">{{clase.name}}</div>
      <div class="class-info">
        <div class="info-item">
          <i class="fa-regular fa-clock"></i>
          <span>{{clase.duration_minutes}} mins</span>
        </div>
        <div class="info-item">
          <i class="fa-solid fa-battery-quarter"></i>
          <span>{{clase.intensity.toString()| titlecase}} intensity</span>
        </div>
      </div>
      <p class="class-description">
       {{clase.description}}
      </p>
      <button class="btn-enroll" (click)="bookClass(clase.id)">Book Class</button>
    </div>
  }
</section>


@if(this.bookingService.showModal()) {
    <app-book-class-modal [schedule]="schedule" [className]="selectedClass?.name ?? ''" [classId]="classId"></app-book-class-modal>
}