<div class="container">
  <div class="title">Registration</div>
  <div class="content">

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="user-details">
        <div class="input-box">
          <label for="name" class="details"> Name</label>
          <input type="text" formControlName="name" placeholder="Enter your full name">
          @if(isInvalid('name', registrationForm)){
          <span class="error">{{ getErrorMessage('name', registrationForm) }}</span>
          }
        </div>

        <div class="input-box">
          <label for="email" class="details"> Email</label>
          <input type="email" formControlName="email" placeholder="Enter your email">
          @if(isInvalid('email', registrationForm)){
          <span class="error">{{ getErrorMessage('email', registrationForm) }}</span>
          }
        </div>

        <div class="input-box">
          <label for="phone" class="details"> Phone number</label>
          <input type="text" formControlName="phone" placeholder="Enter your phone number">
          @if(isInvalid('password', registrationForm)){
          <span class="error">{{ getErrorMessage('phone', registrationForm) }}</span>
          }
        </div>

        <div class="input-box">
          <label for="password" class="details"> Password</label>
          <div class="password-wrapper">
            <input type="password" formControlName="password" placeholder="Enter a password" autocomplete="new-password"
              #passwordInput>
            <span class="toggle-password" (click)="togglePassword('password')">
              <i class="fa-solid " [class.fa-eye]="passwordInput.type !== 'password'"
                [class.fa-eye-slash]="passwordInput.type === 'password'"
                [class.active-eye]="passwordInput.type !== 'password'"></i>
            </span>
          </div>
          @if(isInvalid('password', registrationForm)){<span class="error">{{ getErrorMessage('password', registrationForm) }}</span>}
        </div>

        <div class="input-box">
          <label for="confirm" class="details"> Confirm Password </label>
          <div class="password-wrapper">
            <input type="password" formControlName="confirmPassword" placeholder="Confirm your password"
              #passwordInputConfirm>
            <span class="toggle-password" (click)="togglePassword('confirm')">
              <i class="fa-solid " [class.fa-eye]="passwordInputConfirm.type !== 'password'"
                [class.fa-eye-slash]="passwordInputConfirm.type === 'password'"
                [class.active-eye]="passwordInputConfirm.type !== 'password'"></i>
            </span>
          </div>
          @if(isInvalid('confirmPassword', registrationForm)){
          <span class="error">{{ getErrorMessage('confirmPassword', registrationForm) }}</span>
          }
          @if (registrationForm.errors?.['passwordMismatch'] && registrationForm.get('confirmPassword')?.touched) {
          <span class="error">Passwords do not match.</span>
          }
        </div>

        <div class="input-box">
          <label for="gender">Gender</label>
          <select id="gender" formControlName="gender">
            <option value="" disabled>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="prefer_not_to_say">Prefer not to say</option>
          </select>
          @if(isInvalid('gender', registrationForm)){
          <span class="error">{{ getErrorMessage('gender', registrationForm) }}</span>
          }
        </div>

        <div class="input-box">
          <label for="membership">Memebership</label>
          <select id="membership" formControlName="membershipId">
            <option value="" disabled>Select your membership</option>
            @for(membership of membershipPlans; track membership.id){
              <option [value]="membership.id">{{membership.name}}</option>
            }
          </select>
          @if(isInvalid('membership', registrationForm)){
          <span class="error">{{ getErrorMessage('membership', registrationForm) }}</span>
          }
        </div>

        <div class="checkbox-info">
          <input type="checkbox" id="email-info" formControlName="allowEmail">
          <label for="email-info">I agree to receive more info from BeFit by email</label>
        </div>


        <div class="checkbox-info">
          <input type="checkbox" id="whatsapp-info" formControlName="allowWhatsApp">
          <label for="whatsapp-info">I agree to receive more info from BeFit by WhatsApp</label>
        </div>
      </div>
      <button class="btn-submit" [disabled]="registrationForm.invalid">Register</button>
    </form>
  </div>
</div>