/************ CONTACT SECTION **********/
header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    z-index: 999;
}

.logout {
    display: none;
}

.btn-join-desktop {
    display: none;
}

.logo {
    font-size: 3.7rem;
    font-weight: bold;
    color: black;
    position: relative;
    padding-left: 1.2rem;
    width: 150px;
    cursor: pointer;
}

.logo span {
    padding-right: 10px;
    color: var(--purple);
}

.logo span::after {
    content: '';
    position: absolute;
    left: 45%;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: grey;
    transform: translateX(-50%);
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    height: 5rem;
    padding: 1rem 1rem;
    gap: 1rem;
    background-color: var(--white);
}

.info-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 2rem;
    padding-top: 1rem;
}

.info .questions {
    display: none;
}

.info .tel,
.info .email {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--purple);
    font-size: 1.3rem;
}

.info .tel i,
.info .email i {
    color: var(--black);
}

.social {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 0.5rem;
}

.social i {
    color: var(--purple);
}

.social i:hover {
    color: var(--white);
}

/************ NAV SECTION **********/
.nav-flex {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}


nav {
    display: flex;
    margin-top: 1rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    gap: 1rem;
    position: fixed;
    top: 13.1rem;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    transition: left 0.3s ease;
    z-index: 3;
}

nav ul.active {
    left: 0;
}

nav ul li a {
    color: var(--black);
    transition: all 0.3s ease;
    font-size: 1.5rem;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--purple);
}

.btn-join {
    display: inline-block;
    border: 1px solid var(--purple);
    width: 28.5rem;
    height: 4rem;
    border-radius: 1rem;
    text-align: center;
    padding-top: .5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-join:hover {
    background-color: var(--purple);
    color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo span:first-of-type {
    font-size: 4rem;
    color: var(--purple);
    font-weight: bold;
}

.logo span:last-of-type {
    font-size: 4rem;
    color: black;
    font-weight: bold;
}

.pipe {
    width: .1rem;
    height: 4rem;
    background-color: var(--social);
    margin: 0 0.5rem;
}

.menu-toggle {
    font-size: 3rem;
    padding-top: 1rem;
    color: black;
    margin-left: auto;
    cursor: pointer;
}

.desktop-join-desktop {
    display: none;
}



/*********************** MOBILE **************************************/

@media screen and (min-width: 1200px) {

    /************ CONTACT SECTION **********/
    header {
        background-color: var(--black);
    }

    .info-container {
        background-color: var(--black);
    }

    /********************* LOG OUT *****************************/
     .logout-mobile {
        display: none;
     }

    
    .username {
        position: relative;
        font-size: 1.5rem;
        right: 20px;

    }

    .logout {
        width: 100%;
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center; 
    }
    
    .logout span {
        color: var(--purple);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 2rem;
        cursor: pointer;
        transition: color 0.2s ease;
    }

    .logout span:active {
        transform: translateY(2px) scale(0.98);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .logo span::after {

        left: 55%;

    }

    .info-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-flex {
        flex-direction: row;
    }

    .info {
        justify-content: flex-start;
        padding-top: 0;
    }

    .info .questions {
        display: block;
        color: var(--social);
        font-size: 1.3rem;
    }

    .info .tel i,
    .info .email i {
        color: white;
    }

    .social {
        justify-content: flex-end;
        gap: 3rem;
        font-size: 1.3rem;
    }

    /************ NAV SECTION **********/
    nav {
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 10rem;
        background-color: var(--white);
        margin-top: 0;
    }

    .nav-flex {
        align-items: center;
        gap: 3rem;
        padding-left: 3rem;
    }

    nav .btn-join {
        display: none;
    }

    nav ul {
        flex-direction: row;
        align-items: flex-start;
        position: static;
        height: 100%;
        gap: 2rem;
        margin: 0;
        padding: 0;
    }

    .menu-toggle {
        display: none;
    }

    .mobile-join {
        display: none;
    }

    .btn-join-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--purple);
        padding: 0.8rem 2rem;
        border-radius: 1rem;
        color: var(--black);
        background-color: transparent;
        font-size: 1.5rem;
        margin-left: auto;
        transition: all 0.3s ease;
        width: 50rem;
        height: 4rem;
        transition: all 0.15s ease-in-out;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }

    .btn-join-desktop:hover {
        background-color: var(--purple);
        color: var(--white);
    }

}