footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 20rem;
}

.logo {
    font-size: 3.7rem;
    font-weight: bold;
    color: black;
    position: relative;
    padding-left: 1.2rem;
    width: 150px;
    cursor: pointer;
}

.logo span {
    padding-right: 10px;
    color: var(--white);
}

.logo span::after {
    content: '';
    position: absolute;
    left: 42%;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: var(--white);
    transform: translateX(-50%);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu ul  {
    display: none;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu ul li a:hover,
.social i:hover {
    color: #d26beb;
}

.social {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.social i {
    color: rgb(165, 155, 155);
}

.footer-copyright {
    color: rgb(165, 155, 155);
    font-size: 1.5rem;
}


@media  (min-width: 1200px) {
    .menu ul {
        display: flex;
    } 
}


