
<footer>
    <div class="container flex">
        <div class="logo">
            <span>Be</span>
            <div class="pipe"></div>
            <span>Fit</span>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="bookings" routerLinkActive="active">Bookings</a></li>
                    <li><a routerLink="classes" routerLinkActive="active">Classes</a></li>
                    <li><a routerLink="plans" routerLinkActive="active">Plans</a></li>
                    <li><a routerLink="subscription" routerLinkActive="active">Subscription</a></li>
                    <li><a routerLink="payments" routerLinkActive="active">Payments</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-copyright">
            &copy; {{ currentYear }} Guillermo Moran L. All rights reserved.
        </div>
    </div>
</footer>