<section class="hero">
  <p class="slogan">relax <span>|</span> have fun <span>|</span> work out</p>
  <img src="assets/new.jpg" alt="hero">
</section>
  
  
<section class="section-container">
  <div class="container">
    <div class="stats-content">

      <div class="stats-msg">
        <h2>1452 people can´t be wrong!</h2>
      </div>
      
      <div class="stats-icons">
          <div class="icons">
            <i class="fa-solid fa-thumbs-up"></i>
            <p><app-count-up [end]="1200" [duration]="1500"></app-count-up></p>
            <p>Happy users</p>
          </div>
      
          <div class="icons">
            <i class="fa-solid fa-cube"></i>
            <p><app-count-up [end]="350" [duration]="1500"></app-count-up></p>
            <p>Square meters of space</p>
          </div>
      
      
          <div class="icons">
            <i class="fa-solid fa-person"></i>
            <p><app-count-up [end]="12" [duration]="1500"></app-count-up></p>
            <p>Instructors</p>
          </div>
      
          <div class="icons">
            <i class="fa-solid fa-calendar-days"></i>
            <p><app-count-up [end]="7" [duration]="1500"></app-count-up></p>
            <p>Days of the week</p>
          </div>
          
      </div>
    </div>
  </div>
</section>


