
  <section class="login-section">
    <div class="container">
      <div class="login-card">
        <h2 class="title">Welcome Back</h2>
        <p class="subtitle">ready to work out?</p>
  
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" placeholder="Enter your email"/>
             @if(isInvalid('email', loginForm)){
              <span class="error">{{ getErrorMessage('email', loginForm) }}</span>
              }
          </div>
  
          <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" id="password" placeholder="Enter your password" autocomplete="new-password"/>
             @if(isInvalid('password', loginForm)){
              <span class="error">{{ getErrorMessage('password', loginForm) }}</span>
            }
          </div>
  
          <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Login</button>
        </form>
  
        <div class="signup-link">
          <p>Don’t have an account? <a routerLink="/subscription">Sign up</a></p>
        </div>
        <div class="signup-link">
          <p>Forgot your password?</p>
          <a routerLink="/pass-recovery">Click here</a>
        </div>
      </div>
    </div>
  </section>

