<!-- Modal Backdrop -->
<div class="modal-backdrop" id="bookingModal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Book a {{className() | titlecase}} Class</h2>
      <button class="close-btn" (click)="closeModal()">&times;</button>
    </div>

    <div class="modal-body">
        @if (showTooltip) {
            <div class="tooltip-bubble">
                <span>⚠️</span> Please remember to cancel if you can't attend. Repeated no-shows may limit future bookings.
            </div>
        }
      <p>Select a time slot for your class this week:</p>
    
    <div class="calendar-grid">
      @for(day of schedule(); track $index){
         <div class="day">
             <h4>{{day.day}}</h4>
             @for(session of day.sessions; track $index){
                <button class="time-slot"  (click)="toggleSelected($event)"   >{{session.time}}</button>
             }
         </div>
      }
    </div>

    <div class="modal-footer">
      <button class="confirm-btn" (click)="confirmBooking()">Confirm Booking</button>
    </div>
  </div>
</div>

<!-- (click)="pushBookingToList({booked_at: session.bookingTime, userId: userId, classSessionId: classId() })" -->