/* You can add global styles to this file, and also import other style files */
/* Base Styles */
// :root {
//   --primary: #ff6f00; /* Gym */
//   --primary-dark: #e65100;
//   --dark: #2c3e50;
//   --light: #ffffff;
//   --overlay: rgba(0, 0, 0, 0.5);
//   --transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
// }



/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.8;
  min-height: 100vh;
  background-color: #ededed;
}

/*Mobile style*/
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  
  @media (min-width: 576px) { max-width: 540px; }
  @media (min-width: 768px) { max-width: 720px; }
  @media (min-width: 992px) { max-width: 960px; }
  @media (min-width: 1200px) { max-width: 1140px; }
  @media (min-width: 1400px) { max-width: 1320px; }
}

header, footer {
  background-color: black;
}

.sidebar-right {
  background-color: blue;
  color: white;
}

p {
  margin: 0;
}

